{% load static %}
<footer class=" w-100 background-orange p-4 ">
    <section class="container">
        <div class="d-flex flex-column flex-sm-row align-items-center w-100 justify-content-between align-items-sm-end text-white">
        <img src="{% static 'images/footer_logo.svg' %}" alt="footer image" class="nav-logo">
        <p>Copyright &copy; Robert Bush Real Estate</p>
        <div class="d-flex gap-4 align-self-center">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
            <i class="fas fa-globe"></i>
        </div>
    </div>
    </section>

</footer>