{% load static %}
<nav class="navbar navbar-light navbar-expand-md bg-white fixed-top px-3 border-bottom shadow-sm">
    <div class="container-lg flex align-items-end">
        <a class="navbar-brand mr-5" href="{% url 'index' %}">
            <img src="{% static 'images/navbar_logo.svg' %}" alt="navbar_logo" class="nav-logo ">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end nav-width" tabindex="-1" id="navbarOffcanvasLg">
            <div class="offcanvas-header">
                <a class="offcanvas-title" id="offcanvasNavbarLabel" href="{% url 'index' %}">
                    <img src="{% static 'images/navbar_logo.svg' %}" alt="navbar_logo" class="nav-logo">
                </a>

                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>

            </div>
            <div class="d-md-flex justify-content-between nav-width">
                <div class="offcanvas-body padding-bottom-nav">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-4">
                        <li class="nav-item fw-bold">
                            <a class="nav-link active {% if '/' == request.path %} color-orange {% else %}color-gray {% endif %}"
                               href="{% url 'index' %}">HOME</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a class="nav-link {% if '/listing/' == request.path %} color-orange {% else %}color-gray {% endif %}"
                               href="{% url 'all_listings' %}">LISTINGS</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a class="nav-link {% if '/agents' == request.path %} color-orange {% else %}color-gray {% endif %}"
                               href="{% url 'agents' %}">AGENTS</a>
                        </li>
                        <li class="nav-item fw-bold">
                            <a class="nav-link {% if '/about' == request.path %} color-orange {% else %}color-gray {% endif %}"
                               href="{% url 'about' %}">ABOUT</a>
                        </li>

                    </ul>
                </div>
                {% if user.is_authenticated %}
                    <div class="offcanvas-body padding-top-nav">
                        <ul class="navbar-nav justify-content-end flex-grow-1 gap-4">
                            <li class="dropdown nav-item fw-bold">
                                <a class="dropdown-toggle nav-link color-gray text-uppercase text-truncate"
                                   type="button" id="dropdownMenuButton1"
                                   data-bs-toggle="dropdown">
                                    Hi, {{ user.last_name }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a class="dropdown-item {% if '/user/dashboard/' == request.path %} color-orange {% else %}color-gray {% endif %}"
                                           href="{% url 'dashboard' %}">Dashboard</a></li>
                                    {% if user.is_admin %}
                                        <li>
                                            <a class="dropdown-item {% if '/user/listing/' == request.path %} color-orange {% else %}color-gray {% endif %}"
                                               href="{% url 'agent_listing' %}">My Listings</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item {% if '/user/settings/' == request.path %} color-orange {% else %}color-gray {% endif %}"
                                               href="{% url 'settings' %}">Settings</a></li>
                                    {% endif %}
                                </ul>
                            </li>

                            <li class="nav-item fw-bold">
                                <a class="nav-link color-gray" href="{% url 'logout' %}"><i
                                        class="fa fa-sign-out-alt"></i>SIGNOUT</a>
                            </li>

                        </ul>
                    </div>
                {% else %}
                    <div class="offcanvas-body padding-top-nav">
                        <ul class="navbar-nav justify-content-end flex-grow-1 gap-4">
                            <li class="nav-item fw-bold">
                                <a class="nav-link {% if '/user/login/' == request.path %} color-orange {% else %}color-gray {% endif %}"
                                   href="{% url 'login' %}"><i
                                        class="fa fa-sign-in-alt"></i> LOGIN </a>
                            </li>
                            <li class="nav-item fw-bold">
                                <a class="nav-link {% if '/user/register/' == request.path %} color-orange {% else %}color-gray {% endif %}"
                                   href="{% url 'register' %}"><i
                                        class="fa fa-user-alt"></i> REGISTER</a>
                            </li>

                        </ul>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
</nav>