@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
    --orange-color: #F59246;
    --gray-color: #707070;
}

* {
    font-family: "Open Sans";
}

.link-button {
    background-color: white !important;
    border-color: var(--orange-color) !important;
    color: var(--orange-color) !important;
    transition: all .3s ease-out;
}

.link-button:hover {
    background-color: var(--orange-color) !important;
    color: white !important;
}

.nav-logo {
    height: 3.2rem;
    width: 4rem;
}

.foot-logo {
    height: 4.8rem;
    width: 6rem;
}

@media screen and (max-width: 768px) {
    .nav-width {
        max-width: 250px !important;
    }

    .padding-top-nav {
        padding-top: 0 !important;
    }

    .padding-bottom-nav {
        padding-bottom: 0 !important;
    }


}

.color-gray {
    color: var(--gray-color) !important;
}

.color-orange {
    color: var(--orange-color) !important;
}

.background-gray {
    background-color: var(--gray-color) !important;
}

.background-orange {
    background-color: var(--orange-color) !important;
}

.jump {
    height: 78px;
}

.index-hero {
    background-image: url("../images/index-hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.cover {
    width: 85%;
    height: 90%;
    background-color: rgba(112, 112, 112, .75);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .cover {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .cover {
        height: 100%;
        padding: 0;
    }
}

.cover > h1 {
    text-transform: capitalize;
    font-weight: bold;
}

.cover > button {
    margin-top: 5px;
    margin-bottom: 20px;
}

@media screen and (max-width: 460px) {
    .cover > button {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .cover > h1 {
        font-size: 1.7rem !important;
    }
}

.cover > form {
    display: flex;
    justify-content: center;
    max-width: 800px;
}

.cover form > * {
    min-width: 200px;
    max-width: 300px;
}

.underline {
    position: relative;
    width: auto;
    text-transform: capitalize;
}

.underline:before {
    content: '';
    position: absolute;
    width: 50%;
    border-bottom: 3px solid var(--orange-color);
    left: 50%;
    bottom: -8%;
    transform: translateX(-50%);
}

.all-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media screen and (max-width: 992px) {
    .all-cards {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 576px) {
    .all-cards {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}

.listing-card {
    max-width: 320px;
    min-width: 200px;
    height: 470px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    position: relative;
}

.listing-card > img {
    object-fit: cover;
    width: 100%;
    height: 260px;
}

.listing-card > div {
    padding: 10px;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.listing-card .address {
    font-size: 12px;
    font-weight: bold;
    color: var(--orange-color);
    margin: 0;
    padding: 0;
}


.listing-card h4 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.listing-card .price {
    color: var(--orange-color);
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.listing-card hr {
    padding: 0;
    margin: 0;

}

.listing-card > div > .color-gray {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.listing-card > div > .color-gray > * {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.listing-card .offer {
    position: absolute;
    top: 4%;
    left: 5%;
    background-color: white;
    color: var(--orange-color);
    padding: 3px 5px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
}

.about-hero {
    background-image: linear-gradient(rgba(245, 156, 70, .7), rgba(245, 156, 70, .7)), url("../images/about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

.about-image {
    height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
}

.about-width {
    width: 620px;
}

@media screen and (max-width: 768px) {
    .about-width {
        width: 95%;
    }
}

.width-max {
    max-width: 500px !important;
}

.send-icon{
    height: 20px;
    width: 20px;
}

