{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
    <main class=" container my-5">
        <form class="forms" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Edit Details</h1>
            {% bootstrap_form form %}

            {% if listing %}<a href="{% url 'listing_delete' listing.id %}" class="btn link-button align-self-end mt-3">Delete Listing</a>{% endif %}
            <button type="submit" class="btn link-button align-self-end mt-3">Save Listing</button>
        </form>
    </main>
{% endblock %}